*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 1050px) {
  .Main_header {
    max-width: none;
    width: 100%;
  }
}
.Main_header {
  max-width: 1920px;
  height: 90px;
  background-color: #eff7f2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px #e0e0e0;
}
.Main_header .innerheader {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main_header .innerheader .Logo_side {
  flex: 2;
  display: flex;
  align-items: center;
}
.Main_header .innerheader .Logo_side i {
  font-size: 22px;
  display: none;
}
.Main_header .innerheader .Logo_side a img {
  width: 150px;
}
@media screen and (max-width: 1050px) {
  .Main_header .innerheader .Logo_side {
    flex: 2;
    justify-content: space-between;
  }
  .Main_header .innerheader .Logo_side i {
    display: block;
    cursor: pointer;
    padding: 10px;
    transition: 0.2s;
  }
  .Main_header .innerheader .Logo_side i:hover {
    background-color: rgb(226, 238, 231);
  }
  .Main_header .innerheader .Logo_side a img {
    width: 130px;
  }
  .Main_header .innerheader .Nav_side {
    justify-content: end !important;
    flex: 1 !important;
  }
  .Main_header .innerheader .Nav_side nav {
    width: 100% !important;
    height: 0 !important;
    overflow: hidden;
    top: 90px;
    right: 0;
    background-color: #03160c;
    position: absolute;
    transition: 0.3s;
  }
  .Main_header .innerheader .Nav_side nav ul {
    flex-direction: column;
    height: 100%;
  }
  .Main_header .innerheader .Nav_side nav ul li {
    margin: 15px 0 !important;
  }
  .Main_header .innerheader .Nav_side nav ul li a {
    color: white !important;
    font-size: 16px !important;
    font-family: "Poppins", sans-serif;
  }
  .Main_header .innerheader .Nav_side nav.toggled {
    height: 300px !important;
  }
}
.Main_header .innerheader .Nav_side {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main_header .innerheader .Nav_side nav {
  width: 100%;
  height: 100%;
  z-index: 999;
}
.Main_header .innerheader .Nav_side nav ul {
  display: flex;
  align-items: center;
}
.Main_header .innerheader .Nav_side nav ul li {
  margin: 0 16px;
}
.Main_header .innerheader .Nav_side nav ul li a {
  padding: 10px 0px;
  font-size: 16px;
  color: black;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  transition: 0.2s;
}
.Main_header .innerheader .Nav_side nav ul li:hover a {
  color: #009632;
  border-bottom: 2px solid #009632;
}
.Main_header .innerheader .Nav_side .right_login {
  display: flex;
  position: relative;
}
.Main_header .innerheader .Nav_side .right_login i {
  padding: 8px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(47, 51, 59);
}
.Main_header .innerheader .Nav_side .right_login span {
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  .Main_header .innerheader .Nav_side .right_login span .login_icons {
    display: none;
  }
  .Main_header .innerheader .Nav_side .right_login span .loginicon {
    display: block;
  }
}
.Main_header .innerheader .Nav_side .right_login span .loginicon {
  display: none;
}
.Main_header .innerheader .Nav_side .right_login span span {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 10px 25px;
  background-color: #009632;
  color: white;
  margin-right: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.Main_header .innerheader .Nav_side .right_login span span:hover {
  background-color: #10301b;
}
@media screen and (max-width: 1000px) {
  .Main_header .innerheader .Nav_side .right_login span .Login_box {
    left: -10rem !important;
    z-index: 99;
  }
}
.Main_header .innerheader .Nav_side .right_login span .Login_box {
  position: absolute;
  transition: 0.3s;
  width: 0;
  height: 0;
  background-color: #fff;
  box-shadow: 6px 6px 1px #dbdbdb;
  left: -80px;
  padding: 10px;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  visibility: collapse;
  align-items: start;
  border-radius: 5px;
  z-index: 9;
  overflow: hidden;
}
.Main_header .innerheader .Nav_side .right_login span .Login_box .top_picture_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main_header .innerheader .Nav_side .right_login span .Login_box .top_picture_box .ProfilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: #eff0ef;
  padding: 3px;
  box-shadow: 0 0 4px white;
}
.Main_header .innerheader .Nav_side .right_login span .Login_box .top_picture_box .ProfilePic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.Main_header .innerheader .Nav_side .right_login span .Login_box .top_picture_box .rightname {
  margin-left: 6px;
}
.Main_header .innerheader .Nav_side .right_login span .Login_box .top_picture_box .rightname h4 {
  font-size: 16px;
  color: #021b11;
  font-family: "Poppins", sans-serif;
}
.Main_header .innerheader .Nav_side .right_login span .Login_box .top_picture_box .rightname p {
  font-size: 14px;
  color: #5b5f5c;
  font-family: "Poppins", sans-serif;
  margin: 5px 0;
}
.Main_header .innerheader .Nav_side .right_login span .Login_box .button {
  color: #03160c;
  font-family: "Poppins", sans-serif;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  border-bottom: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke;
  text-align: left;
  width: 100%;
  padding: 8px 12px;
  text-decoration: none;
}
.Main_header .innerheader .Nav_side .right_login span .Login_box .button:hover {
  border-radius: 5px;
  background-color: whitesmoke;
}
.Main_header .innerheader .Nav_side .right_login span .Login_box.openLogin {
  height: 250px;
  visibility: visible;
  width: 270px;
}
.Main_header .innerheader .Nav_side .right_login i:hover {
  color: rgb(16, 24, 20);
}
@media screen and (max-width: 1000px) {
  .Main_header .innerheader .Nav_side .right_login .search_box {
    left: -18rem !important;
    z-index: 99;
  }
}
.Main_header .innerheader .Nav_side .right_login .search_box {
  width: 0;
  height: 0;
  overflow: hidden;
  box-shadow: 6px 6px 1px #dbdbdb;
  position: absolute;
  top: 50px;
  background-color: #f9fdfa;
  left: -200px;
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  z-index: 9;
  visibility: collapse;
}
.Main_header .innerheader .Nav_side .right_login .search_box .form {
  width: 100%;
  height: 40px;
  position: relative;
}
.Main_header .innerheader .Nav_side .right_login .search_box .form input {
  width: 100%;
  height: 100%;
  border: 2px solid #dfece3;
  border-radius: 5px;
  padding: 5px 5px 5px 50px;
  font-size: 17px;
  color: rgb(29, 28, 28);
}
.Main_header .innerheader .Nav_side .right_login .search_box .form input:focus {
  border: 2px solid #020f06;
}
.Main_header .innerheader .Nav_side .right_login .search_box .form i {
  font-size: 17px;
  position: absolute;
  left: 0px;
  padding: 5px;
  top: 14%;
}
.Main_header .innerheader .Nav_side .right_login .search_box.openbox {
  width: 400px;
  height: 100px;
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .image_slider_body {
    overflow: hidden !important;
  }
}
.image_slider_body {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #eff7f2;
  display: flex;
}
@media screen and (max-width: 1100px) {
  .image_slider_body .inner_body {
    width: 90% !important;
  }
}
@media screen and (max-width: 600px) {
  .image_slider_body .inner_body {
    overflow: visible !important;
  }
}
.image_slider_body .inner_body {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 550px) {
  .image_slider_body .inner_body .left_text_area {
    width: 80% !important;
  }
}
.image_slider_body .inner_body .left_text_area {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 100px;
  position: relative;
  width: 50%;
  overflow: hidden;
}
@media screen and (max-width: 1500px) {
  .image_slider_body .inner_body .left_text_area h2 {
    font-size: 60px !important;
    line-height: 79px !important;
  }
  .image_slider_body .inner_body .left_text_area h4 {
    font-size: 25px !important;
    width: 100%;
  }
  .image_slider_body .inner_body .left_text_area p {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 1130px) {
  .image_slider_body .inner_body .left_text_area h2 {
    font-size: 45px !important;
    line-height: 65px !important;
  }
  .image_slider_body .inner_body .left_text_area h4 {
    font-size: 20px !important;
    width: 100%;
  }
  .image_slider_body .inner_body .left_text_area p {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 717px) {
  .image_slider_body .inner_body .left_text_area h2 {
    font-size: 35px !important;
    line-height: 47px !important;
  }
  .image_slider_body .inner_body .left_text_area h4 {
    font-size: 16px !important;
  }
}
.image_slider_body .inner_body .left_text_area h2 {
  font-size: 75px;
  font-weight: 900;
  color: #001608;
  line-height: 95px;
  font-family: "Libre Baskerville", serif;
  letter-spacing: -1px;
  margin: 10px 0 15px 0;
  z-index: 2;
}
.image_slider_body .inner_body .left_text_area h2 span {
  font-family: "Libre Baskerville", serif;
  position: relative;
}
.image_slider_body .inner_body .left_text_area h2 span:hover {
  text-decoration: none;
}
.image_slider_body .inner_body .left_text_area h4 {
  font-size: 40px;
  font-weight: 500;
  color: #23352a;
}
.image_slider_body .inner_body .left_text_area p {
  font-size: 16px;
  font-weight: 200;
  color: #5b5f5c;
  margin-top: 20px;
  line-height: 31px;
}
.image_slider_body .inner_body .left_text_area .worklogo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 30px 0 0 0;
}
.image_slider_body .inner_body .left_text_area .worklogo button {
  padding: 15px 50px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  background-color: #369733;
  border: 1px solid gray;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
}
.image_slider_body .inner_body .left_text_area .worklogo .logos {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.image_slider_body .inner_body .left_text_area .worklogo .logos h5 {
  padding: 10px 15px;
  border: 2px solid #021400;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
}
.image_slider_body .inner_body .left_text_area .worklogo .logos h5:hover {
  background-color: #021400;
  color: white;
}
.image_slider_body .inner_body .left_text_area .worklogo button:hover {
  background-color: #14550b;
}
@media screen and (max-width: 828px) {
  .image_slider_body .inner_body .right_image_area {
    width: 400px !important;
  }
  .image_slider_body .inner_body .right_image_area .background_color {
    position: relative !important;
  }
  .image_slider_body .inner_body .right_image_area .background_color img {
    position: absolute;
    transform: translatex(-6rem) rotate(-10deg) !important;
  }
}
@media screen and (max-width: 600px) {
  .image_slider_body .inner_body .right_image_area {
    width: 200px !important;
  }
}
@media screen and (max-width: 600px) {
  .image_slider_body .inner_body .right_image_area {
    width: 200px !important;
    position: absolute !important;
    right: 0 !important;
  }
}
.image_slider_body .inner_body .right_image_area {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 600px;
  height: 100%;
  margin: auto;
}
.image_slider_body .inner_body .right_image_area .background_color {
  width: 90%;
  height: 90%;
  position: relative;
}
.image_slider_body .inner_body .right_image_area .background_color .roundcolor {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: rgba(0, 128, 0, 0.8431372549);
  border-radius: 50%;
  left: 6rem;
  animation: animate 4s linear infinite;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
@keyframes animate {
  0% {
    transform: translatey(0rem);
  }
  50% {
    transform: translatey(1.5rem);
  }
  100% {
    transform: translatey(0rem);
  }
}
@keyframes animate2 {
  0% {
    transform: translatey(0rem);
  }
  50% {
    transform: translatey(-1.5rem);
  }
  100% {
    transform: translatey(0rem);
  }
}
@keyframes animate3 {
  0% {
    transform: translatey(0rem);
  }
  50% {
    transform: translatey(1.5rem);
  }
  100% {
    transform: translatey(0rem);
  }
}
@media screen and (max-width: 500px) {
  .image_slider_body .inner_body .right_image_area .background_color img {
    left: -5rem !important;
  }
}
@keyframes picture {
  0% {
    transform: translatex(0rem) rotate(-10deg);
  }
  50% {
    transform: translatex(0.5rem) rotate(-12deg);
  }
  100% {
    transform: translatex(0rem) rotate(-10deg);
  }
}
.image_slider_body .inner_body .right_image_area .background_color img {
  position: absolute;
  transform: rotate(-10deg);
  width: 600px;
  height: auto;
  animation: picture 4s linear infinite;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.image_slider_body .inner_body .right_image_area .background_color::before {
  content: "";
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(0, 128, 0, 0.5568627451);
  position: absolute;
  left: -12rem;
  animation: animate2 4s linear infinite;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.image_slider_body .inner_body .right_image_area .background_color::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 128, 0, 0.3137254902);
  position: absolute;
  left: -25rem;
  top: -1rem;
  animation: animate3 4s linear infinite;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.services_section {
  width: 100%;
  height: 100vh;
}/*# sourceMappingURL=Portfolio.css.map */