@import 'Features';

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}


// Header line code start from here 
@include responsive(1050px) {
    .Main_header {
        max-width: none;
        width: 100%;
    }
}

.Main_header {
    max-width: 1920px;
    height: 90px;
    background-color: #eff7f2;
    @include flex();
    box-shadow: 2px 2px 10px #e0e0e0;

    .innerheader {
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .Logo_side {
            flex: 2;
            display: flex;
            align-items: center;

            i {
                font-size: 22px;
                display: none;
            }

            a {
                img {
                    width: 150px;

                }
            }
        }

        @include responsive(1050px) {

            .Logo_side {
                flex: 2;
                justify-content: space-between;

                i {
                    display: block;
                    cursor: pointer;
                    padding: 10px;
                    transition: .2s;
                }

                i:hover {
                    background-color: rgb(226, 238, 231);
                }

                a {
                    img {
                        width: 130px;
                    }
                }
            }

            .Nav_side {
                justify-content: end !important;
                flex: 1 !important;

                nav {
                    width: 100% !important;
                    height: 0 !important;
                    overflow: hidden;
                    top: 90px;
                    right: 0;
                    background-color: #03160c;
                    position: absolute;
                    transition: .3s;

                    ul {
                        flex-direction: column;
                        height: 100%;

                        li {

                            margin: 15px 0 !important;

                            a {
                                color: white !important;
                                font-size: 16px !important;
                                font-family: 'Poppins', sans-serif;

                            }
                        }
                    }

                }

                nav.toggled {
                    height: 300px !important;
                }
            }
        }

        .Nav_side {
            flex: 3;
            display: flex;
            justify-content: space-between;
            align-items: center;

            nav {
                @include width();
                z-index: 999;

                ul {
                    display: flex;
                    align-items: center;


                    li {
                        margin: 0 16px;

                        a {
                            padding: 10px 0px;
                            font-size: 16px;
                            color: black;
                            font-family: 'Poppins', sans-serif;
                            letter-spacing: 1px;
                            transition: .2s;
                            text-decoration: none;
                        }
                    }

                    li:hover a {
                        color: #009632;
                        border-bottom: 2px solid #009632;
                    }
                }
            }




            .right_login {
                display: flex;
                position: relative;

                i {
                    padding: 8px;
                    margin: 0 10px;
                    cursor: pointer;
                    font-size: 20px;
                    color: rgb(47, 51, 59);
                }

                span {
                    position: relative;
                    display: flex;
                    align-items: center;

                    @include responsive(1050px) {
                        .login_icons {
                            display: none;
                        }

                        .loginicon {
                            display: block;
                        }
                    }

                    .loginicon {
                        display: none;
                    }

                    span {
                        font-size: 16px;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                        padding: 10px 25px;
                        background-color: #009632;
                        color: white;
                        margin-right: 10px;
                        transition: .3s;
                        cursor: pointer;
                    }

                    span:hover {
                        background-color: #10301b;
                    }


                    @include responsive(1000px) {

                        .Login_box {
                            left: -10rem !important;
                            z-index: 99;
                        }
                    }

                    .Login_box {
                        position: absolute;
                        transition: .3s;
                        width: 0;
                        height: 0;
                        background-color: #fff;
                        box-shadow: 6px 6px 1px #dbdbdb;
                        left: -80px;
                        padding: 10px;
                        top: 60px;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        visibility: collapse;
                        align-items: start;
                        border-radius: 5px;
                        z-index: 9;
                        overflow: hidden;

                        .top_picture_box {
                            display: flex;
                            justify-content: center;
                            align-items: center;


                            .ProfilePic {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                position: relative;
                                overflow: hidden;
                                background-color: #eff0ef;
                                padding: 3px;
                                box-shadow: 0 0 4px white;

                                img {
                                    @include width();
                                    border-radius: 50%;
                                }

                            }

                            .rightname {
                                margin-left: 6px;

                                h4 {
                                    font-size: 16px;
                                    color: $HeadColor;
                                    font-family: 'Poppins', sans-serif;

                                }

                                p {
                                    font-size: 14px;
                                    color: $paragraph;
                                    font-family: 'Poppins', sans-serif;

                                    margin: 5px 0;
                                }
                            }

                        }


                        .button {
                            color: #03160c;
                            font-family: 'Poppins', sans-serif;
                            border: none;
                            margin-top: 10px;
                            cursor: pointer;
                            background-color: transparent;
                            font-size: 17px;
                            font-weight: 600;
                            border-bottom: 2px solid whitesmoke;
                            border-top: 2px solid whitesmoke;
                            text-align: left;
                            width: 100%;
                            padding: 8px 12px;
                            text-decoration: none;
                        }

                        .button:hover {
                            border-radius: 5px;
                            background-color: whitesmoke;
                        }

                    }

                    .Login_box.openLogin {
                        height: 250px;
                        visibility: visible;
                        width: 270px;
                    }
                }



                i:hover {
                    color: rgb(16, 24, 20);
                }

                @include responsive(1000px) {

                    .search_box {
                        left: -18rem !important;
                        z-index: 99;
                    }
                }


                .search_box {
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    box-shadow: 6px 6px 1px #dbdbdb;
                    position: absolute;
                    top: 50px;
                    background-color: #f9fdfa;
                    left: -200px;
                    transition: .3s;
                    border-radius: 5px;
                    padding: 10px;
                    z-index: 9;
                    visibility: collapse;

                    .form {
                        width: 100%;
                        height: 40px;
                        position: relative;

                        input {
                            @include width();
                            border: 2px solid #dfece3;
                            border-radius: 5px;
                            padding: 5px 5px 5px 50px;
                            font-size: 17px;
                            color: rgb(29, 28, 28);
                        }

                        input:focus {
                            border: 2px solid #020f06;
                        }

                        i {
                            font-size: 17px;
                            position: absolute;
                            left: 0px;
                            padding: 5px;
                            top: 14%;

                        }
                    }
                }

                .search_box.openbox {
                    width: 400px;
                    height: 100px;
                    visibility: visible;
                }
            }
        }
    }
}

// main body section started 

@include responsive(600px) {
    .image_slider_body {
        overflow: hidden !important;
    }
}

.image_slider_body {
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #eff7f2;
    display: flex;
    overflow: hidden;


    @include responsive(1100px) {
        .inner_body {
            width: 90% !important;
        }
    }



    .inner_body {
        width: 80%;
        margin: auto;
        height: 100%;
        display: flex;
        overflow: hidden;

        @include responsive(550px) {
            .left_text_area {
                width: 80% !important;
            }
        }


        .left_text_area {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            margin-top: 100px;
            position: relative;
            width: 50%;
            overflow: hidden;


            @include responsive(1500px) {
                h2 {
                    font-size: 60px !important;
                    line-height: 79px !important;
                }

                h4 {
                    font-size: 25px !important;
                    width: 100%;
                }

                p {
                    font-size: 15px !important;
                }
            }

            @include responsive(1130px) {
                h2 {
                    font-size: 45px !important;
                    line-height: 65px !important;

                }

                h4 {
                    font-size: 20px !important;
                    width: 100%;
                }

                p {
                    font-size: 15px !important;
                }
            }

            @include responsive(717px) {
                h2 {
                    font-size: 35px !important;
                    line-height: 47px !important;
                }

                h4 {
                    font-size: 16px !important;
                }

                p {}
            }

            h2 {
                font-size: 75px;
                font-weight: 900;
                color: #001608;
                line-height: 95px;
                font-family: 'Libre Baskerville', serif;
                letter-spacing: -1px;
                margin: 10px 0 15px 0;
                z-index: 2;

                span {
                    font-family: 'Libre Baskerville', serif;
                    position: relative;
                }

                span:hover {
                    text-decoration: none;
                }
            }



            h4 {
                font-size: 40px;
                font-weight: 500;
                color: #23352a;

            }

            p {
                @include paragraph();
                margin-top: 20px;
                line-height: 31px;
            }

            @include responsive(600px) {
                .worklogo {
                    flex-direction: column !important;
                    align-items: start !important;

                    .logos {
                        margin-top: 15px !important;
                    }
                }
            }

            .worklogo {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                margin: 30px 0 0 0;


                button {
                    padding: 15px 50px;
                    font-size: 17px;
                    font-weight: 600;
                    cursor: pointer;
                    background-color: #369733;
                    border: 1px solid gray;
                    color: white;
                    border-radius: 5px;
                    transition: .2s;
                }

                @include responsive(1145px) {
                    .logos {
                        flex-direction: column !important;
                        justify-content: center !important;
                        width: 50% !important;
                        text-align: center !important;
                    }
                }

                .logos {
                    display: flex;
                    width: 60%;
                    justify-content: space-around;

                    h5 {
                        padding: 10px 15px;
                        border: 2px solid #021400;
                        border-radius: 5px;
                        font-size: 15px;
                        transition: .1s;
                        cursor: pointer;


                        a {
                            color: black;

                        }

                    }

                    h5:hover a {
                        color: white;
                    }

                    h5:hover {
                        background-color: #021400;
                        color: white;
                    }

                }

                button:hover {
                    background-color: #14550b;
                }

            }

        }


        @include responsive(828px) {
            .right_image_area {
                width: 400px !important;

                .background_color {
                    position: relative !important;

                    img {
                        position: absolute;
                        transform: translatex(-6rem) rotate(-10deg) !important;
                    }
                }
            }
        }

        @include responsive(600px) {
            .right_image_area {
                width: 200px !important;
            }
        }

        @include responsive(600px) {
            .right_image_area {
                width: 200px !important;
                position: absolute !important;
                right: 0 !important;
            }
        }

        .right_image_area {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 600px;
            height: 100%;
            margin: auto;

            .background_color {
                width: 90%;
                height: 90%;
                position: relative;

                .roundcolor {
                    position: absolute;
                    width: 350px;
                    height: 350px;
                    background-color: #008000d7;
                    border-radius: 50%;
                    left: 6rem;
                    animation: animate 4s linear infinite;
                    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
                }

                @keyframes animate {
                    0% {
                        transform: translatey(0rem);
                    }

                    50% {
                        transform: translatey(1.5rem);
                    }

                    100% {
                        transform: translatey(0rem);
                    }
                }

                @keyframes animate2 {
                    0% {
                        transform: translatey(0rem);
                    }

                    50% {
                        transform: translatey(-1.5rem);
                    }

                    100% {
                        transform: translatey(0rem);
                    }
                }

                @keyframes animate3 {
                    0% {
                        transform: translatey(0rem);
                    }

                    50% {
                        transform: translatey(1.5rem);
                    }

                    100% {
                        transform: translatey(0rem);
                    }
                }

                @include responsive(500px) {
                    img {
                        left: -5rem !important;
                    }
                }

                @keyframes picture {
                    0% {
                        transform: translatex(0rem) rotate(-10deg);
                    }

                    50% {
                        transform: translatex(.5rem) rotate(-12deg);
                    }

                    100% {
                        transform: translatex(0rem) rotate(-10deg);
                    }
                }

                img {
                    position: absolute;
                    transform: rotate(-10deg);
                    width: 600px;
                    height: auto;
                    animation: picture 4s linear infinite;
                    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
                }

            }

            .background_color::before {
                content: '';
                width: 180px;
                height: 180px;
                border-radius: 50%;
                background-color: #0080008e;
                position: absolute;
                left: -12rem;
                animation: animate2 4s linear infinite;
                animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
            }

            .background_color::after {
                content: '';
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #00800050;
                position: absolute;
                left: -25rem;
                top: -1rem;
                animation: animate3 4s linear infinite;
                animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
            }

        }
    }
}


// <!-- services section of portfolio started  -->
.About_me_section {
    @include widthfull();
    display: flex;
    align-items: center;
    background-color: #f5fbff;

    .inner_About_section {
        width: 80%;
        height: 90%;
        margin: auto;
        display: block;
        display: flex;
        position: relative;
        flex-direction: column;

        h4 {
            font-size: 40px;
            color: $seconedHeader;
            font-weight: 500;
            margin: 10px 0 20px 0;
            text-align: center;
        }

        p {
            @include paragraph();
            text-align: center;
        }

        .bottom_container {
            display: flex;
            width: 100%;

            .left_side_Work {
                width: 50%;
                height: 100%;
                border-radius: 10px;
                padding: 20px 60px 20px 20px;
                position: relative;



                .knowledge {
                    width: 100%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;

                    h5 {
                        font-size: 16px;
                        color: #203a26;
                        font-weight: 600;
                        margin-top: 29px;
                        font-family: 'Libre Baskerville', serif;
                    }

                    .progress {
                        width: 90%;
                        height: 30px;
                    }
                }
            }

            .right_side_about {
                width: 50%;
                height: 100%;
                right: 0px;
                top: 30px;
                border-radius: 5px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h5 {
                    font-size: 22px;
                    font-weight: 500;
                    color: $seconedHeader;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    background-color: $maincolor;
                    display: inline;
                    padding: 10px 20px;
                    border-radius: 5px;
                    color: white;
                }

                .more_skils {
                    @include width();
                    display: grid;
                    position: relative;
                    grid-template-columns:repeat(auto-fit, minmax(200px 1fr));
                   

                        a{
                            color: #001306;
                            font-weight: 600;
                            text-decoration: none;
                            border: 2px solid #001306;
                            display: inline;
                            align-items: center;
                            margin:  auto;
                            justify-content: center;
                            width: 150px ;
                            height: 40px;
                            border-radius: 7px;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                }
            }
        }
    }
}

// <!-- services section of portfolio ended  -->



// <!-- Contact form section of portfolio start  -->
.contact_form{
    @include widthfull();


    .inner_contact_form{
        width: 80%;
        margin: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        padding-top: 60px;

        .heading h2{
            margin-bottom: 20px;
            text-align: center;
        }
        p{
            font-size: 15px;
            color: gray;
            margin-bottom: 50px;
        }

        form{
            width: 700px;
            height: auto;


            .formbox{
                display: flex; 
                margin-bottom: 20px;

                input{
                    margin-right: 10px;
                    padding: 10px 10px;
                }
            }
        }
    }
}